nav {
  width: auto; /* 1650px */
  background: #F8F8F8;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ninenote-logo {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
}

.nav_menu a {
  color: #303030;
  padding: 30px;
  text-decoration: none;
}
