@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

nav {
  width: auto; /* 1650px */
  background: #ECF7FC;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ninenote-logo {
  font-family: 'Darumadrop One', cursive;
  font-size: 25px;
  color: #4F87DB;
}

.nav_menu a {
  color: #303030;
  padding: 30px;
  text-decoration: none;
}
