@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

h1 {
  font-size: 40px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  font-weight: 600;
  margin: 0px;
}

h3 {
  font-size: 22px;
  font-weight: 600;
}

body {
  font-size: 16px;
  font-weight: 400;
  margin: 0px;
  font-family: 'Inter';
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.body-bold {
  font-size: 16px;
  font-weight: 600;
}

.tag-thin {
  font-size: 14px;
  font-weight: 400;
}

.tag-bold {
  font-size: 14px;
  font-weight: 600;
}

.mini-tag-thin {
  font-size: 12px;
  font-weight: 400;
}

.mini-tag-bold {
  font-size: 12px;
  font-weight: 600;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
